<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../styles/logIn.css">
    <script src="../scripts/logIn.js"></script>
</head>
<body>
    <div id="container">
        <div id="esquerda">
            <div id="culturalize">
                <img src="../imgs/Logo.png" alt="Logo Culturalize" id="logo"><img>
                <img src="../imgs/image5.png" alt ="seta" id= "seta"></img>
            </div>
            <img src="../imgs/cult.png" alt="imagem" id="imagem"></img>
        </div>
        <div id="direita">
            <div id="card">
                <h1>Log In</h1>
                <span>Bem vindo de volta!</span>
                <span>Por favor coloque seus dados:</span>
                <h2>Email</h2>
                <input type="text" id="email" placeholder="Insira seu e-mail aqui..."/>
                <h2>Senha</h2>
                <input type="password" id="password" placeholder="Insira sua senha aqui..." />
                <button onclick="logIn()">Login</button>
            </div>
        </div>
    </div>
</body>
</html>