@import url(./shared.css);

/* HEADER */
.header {
    width: 100%;
    height: 9vh;
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid var(--lightgrey-color);
    box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34)
}

.nav-bar, .userArea {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.nav-item {
    cursor: pointer;
    font-family: var(--primary-font);
    color: var(--font-color);
    font-size: 20;
    font-weight: 700;
}

.userArea-name {
    font-family: var(--primary-font);
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
}

.userArea-icon {
    cursor: pointer;
    width: 70%;
}

.username-span {
    font-weight: 800;
    color: var(--font-secondary-color);
}

/* HEADER */

/* OBRA DO DIA */

.obraDoDia {
    background-image: url(../imgs/Obra\ do\ dia.png);
    background-size: cover;
    height: 80vh;
}

.obraDoDia-desc {
    display: flex;
    width: 40vw;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 3rem 0 0 3rem;
    font-family: var(--primary-font);
    color: var(--font-white-color);
}

.obraDoDia-desc h1{
    margin-bottom: 1.5rem;
    width: 50%;
    font-weight: 600;
    font-size: 26px;
}

.obraDoDia-desc p{
    width: 80%;
    font-weight: 400;
    font-size: 16px;
}

/* OBRA DO DIA */

/* CONTEÚDO */

.content {
    height: 100vh;
}

.content-navbar-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding: 3rem 0 0 3rem;
}

.title {
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
    border-bottom: 2.7px solid var(--black-color);
    padding-bottom: 0.1rem;
    width: 8rem;
}

.nav-bar-content {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-item-content {
    cursor: pointer;
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: 20;
    font-weight: 700;
    border: 1.5px solid var(--black-color);
    border-radius: 8px;
    padding: 0.7rem 8%;
    transition: all 0.2s;
}

.selected {
    background-color: var(--black-color) !important;
    color: var(--font-white-color) !important;
}

.seeAll {
    background-color: var(--blue-color);
    color: var(--font-white-color);
    border: 1px solid var(--blue-color);
    padding: 0.7rem 9%;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: 20;
    font-weight: 700;
    border-radius: 8px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0 0 3rem;
    margin: 2rem;
}

.grid-left, .grid-right {
    height: 100%;
}

.grid-left {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 2rem;
}

.grid-inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}

.content-item-s {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-item-m {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.content-desc-container-s {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    background-color: var(--grey-color);
    padding: 0.5rem 0 0 0;
}

.content-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding: 0.2rem 0.5rem 0.5rem 0;
    margin-left: 1rem;
}

.content-desc {
    padding: 0.2rem 0 1rem 1.2rem;
    margin-left: 0.7rem;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
}

/* CONTEÚDO */