<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Culturalize</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://west-devs.github.io/West-Devs-entrega-final-Culturalize/content/styles/catalog/obras.css">
</head>
<body>
    <header>

    </header>
    <main>
        <h1 class="obras-h1">
            OBRAS
        </h1>
        <article id="obras-article-button">
        </article>
        <section id="section-all-obras">
        </section>
    </main>
    <footer>   

    </footer>
    <script src="https://west-devs.github.io/West-Devs-entrega-final-Culturalize/content/scripts/catalog/script-obras.js"></script>
    
</body>
</html>
